.slide {
  /* Scale images up to fill screen */
  width: 100%;
}

/* Slide Colors */
/* Colors from https://clrs.cc/ */

.sonic {
  background-color: #0074D9;
  color: #FFDC00;
}

.knuckles {
  background-color: #FF4136;
  color: #FFFFFF;
}

.tails {
  background-color: #FF851B;
  color: #FFFFFF;
}

.amy {
  background-color: #F012BE;
  color: #ffffff;
}

.knuckles,
.tails,
.amy {
  color: #ffffff;
}

.knuckles a,
.tails a,
.amy a {
  color: #ffffff;
}

.sonic a {
  color: #FFDC00;
}

.knuckles a:hover,
.tails a:hover,
.amy a:hover {
  color: #DDDDDD;
}

.sonic a:hover {
  color: #FFFFFF;
}

.plain {
  background-color: #FFFFFF;
}

.full .slide {
  padding: 0;
}